body{
  font-family: arial, "sans-serif";
  background-color:#CFD5FC;
  padding:20px 50px
}

/*Je centre horizontalement le formulaire et son titre*/
#formulaire, h2
{
 margin-left: auto;
 margin-right: auto;
 width: 56%; /* largeur obligatoire pour �tre centr� */
}

.row {
    border-radius: 3px;
}

.row:first-child {
    border-radius: 9px 9px 3px 3px;
}

.row:last-child {
    border-radius: 3px 3px 9px 9px;
}

#center {
    margin-bottom: 20px;
}
div.logo{
  float:left;
  margin-bottom:20px
}

header h1{
  float:right;
  margin-right:50px;
  color:#ff6633;
  font-variant:small-caps;
}

h2
{
  color: grey;
}

.new_contact {
  margin: 10px 0 10px 20px;
}

.new_contact div {
  display: inline-block;
  margin-left: 5px;
}

.Zebra_Form .optional {
  display: none 
}

.cell {
  margin-left: 10px;
}

.row .cell:first-child {
  margin-left: 0;
}

.radio {
    display: inline-block;
    margin-left: 10px;
}

.radio label{
    display: inline;
}

/*tableau liste*/
#table_of_item {
    margin: 0 auto;
    width: 85%;
}

#table_of_item table {
    margin: 5px auto;
    border-collapse:collapse;
}

#table_of_item table td {
    padding: 6px;
    min-width: 50px;
    border: 1px solid #f6f6f6;
}

#table_of_item table th:hover {
    cursor:  pointer;
}

#table_of_item .number {
    text-align: center;
}

#filter {
    margin-bottom: 20px;
}

#filter div {
    display: inline-block;
    margin: 5px 10px 0 0;
    vertical-align: top;
    font-size: 1.1em;
}
#filter div p {
    margin: 0 0 3px 0;
}

.low_size{
    font-size: 0.9em ;
}

.search {
    background: url("../librairies/Zebra_Form-2.9.5/public/css/textbox-background.gif") 
        repeat-x scroll center top #fff;
}

.filter_option {
    /*display: block;*/
    padding: 6px 5px;
    border: 1px solid #999;
    border-radius: 4px;
}

/* Ce qui suit concerne le menu de l'Intranet */
header .menuIntranet{
  clear:both;
  width:60%;
  margin:0 auto;
}
.sm-blue li:first-child{
  width:19%;
  text-align:center
}
.sm-blue li ul li:first-child{
  width:auto;
  text-align:left;
}