
/*Je centre horizontalement le formulaire et son titre*/
#formulaire, h2
{
   margin-left: auto;
   margin-right: auto;
   width: 50%; /* largeur obligatoire pour �tre centr� */
}

h2
{
  color: grey;
}

.new_contact {
    margin: 10px 0 10px 20px;
}

.new_contact div {
    display: inline-block;
    margin-left: 5px;
}

.Zebra_Form .optional {
    display: none 
}

.cell {
    margin-left: 10px;
}

.row .cell:first-child {
    margin-left: 0;
}

.radio {
    display: inline-block;
    margin-left: 10px;
}

.radio label{
    display: inline;
}